.sessions .title {
    position: relative;
}

.sessions .title .filters {
    position: absolute;
    top: 6px;
    right: 0px;
}

.sessions .title form {
    display: inline;
}

.sessions .post { 
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 7px;
}

.sessions .post img { 
    width: 220px; 
    height: 220px; 
    border: none; 
}


.sessions .letter {
    font-weight: bold;
    clear: both;
}