
.single .left {
    width: 680px;
    padding: 0px 15px;
    vertical-align: top;
}

.single .left h2.artist {
    margin: 0px;
    font-size: 1.3em;
    font-weight: normal;
    font-style: italic;
}

.single .left h1.song {
    margin: 0px;
}

.single .right {
    width: 300px;
    vertical-align: top;
}

.single .left .date  {
    font-size: 1.3em;
}

.single .left .table-wrap {
    width: 100%;
    height: 100%;
}

.tracklist ul {
    padding: 0px;
    list-style-type: none;
}

.recommended ul {
    padding: 0px;
    list-style-type: none;
}

.tracklist li, .recommended li {
    margin: 6px 0px;
}

.tracklist img, .recommended img {
    vertical-align: top;
}

.tracklist h2, .recommended h2 {
    display: inline;
}

.tracklist ul li a, .recommended ul li a {
    display: block;
}

.track-info {
    display: inline-block;
    margin-left: 5px;
}

.track-info h3 {
    padding: 0px;
    margin: 0px;
}

.artist-photo {
    height: 100%;
    float: left;
}

.artist-photo .content {
    height: inherit;
}

.external-links-outer {
    max-width: 80%;
    display: inline-block;
    float: right;
    height: 100%;
    margin: 0px 0px 0px 12px;
    padding: 5px 10px;
    border: 1px solid black;
}

.external-links-outer .content
{
    height: inherit;
    overflow-y: auto;
}

.external-links {
    font-size: 1.5em;
    white-space: nowrap;
}

.external-links a {
    line-height: 32px;
}

.external-links img {
    width: 25px;
    height: 25px;
    margin: 2px 4px 2px 0px;
    vertical-align: top;
}

.content p:first-of-type {
    font-size: 1.3em;
    padding-top: 12px;
}

.content .wiki-link {
    font-size: 1.3em;
}
